body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-weight: 300;
    color: #636F88;
}

img{
    display: inline-block;
    border-radius: 20%; 
    height: 100px;
    width: 100px;
     /* padding-left: 8%; */
    /* margin-right: 8%; */
    
}

h1,h2,h3,h4,h5,h6{
    color: #192F60;
}



button,label,option{
    color: #8C96AB;
}
h1{
    padding-left:10%;
}

hr {
    width:80%;
    
  } 

#footer {
    position:absolute;
    left: 50%;
    top: 130%;
    bottom:0;
    width:25%;
    height:60px;   /* Height of the footer */
    /* background:#6cf; */
 }

.edureka_sign{
    height: 20px;
    width: 20px;
    color: #EB2929;
    font-size: larger;
    font-style: bold;
    font-weight: 700;
    position: absolute;
    left: 10%;
    top: 2.5%;
    background-color: white;
    padding: 0.5rem;
   
    border-radius: 50%;
    

}

.navbar{
    background-color: #CE0505;
    height: 50px;
}

.login_button{
    position: absolute;
    left: 80%;
    top: 4%;
    background-color: #CE0505;
    color: white;
    border-color: #CE0505;
}
.Create_an_account{
    position: absolute;
    left: 85%;
    top: 2.5%;
    background-color: #CE0505;
    color: white;
    border-color: white;
    border-width: 0.1rem;
    padding: 0.5rem;
}

.side-bar{
    /* background-color: aqua; */
    /* padding-left: 10%; */
    margin-left: 10% ;
    padding: 0% 2% 2% 2%;
    width: 12%;
    float: left;
    box-shadow: 1px 3px 6px #00000029;
     
    
}

.main-bar{
    margin-right: 10%;
    width: 60%;
    float: right;
}



.bakery{
 /* margin-left: 20%; */
    /* float: right; */
    text-align: left;
    display: block;
    margin: 0;
    width: 50%;
    margin-right: 0%;
    position: relative;
    left: 25%;
    bottom: 110px;
    /* display: inline; */
}


.food_block_1,.food_block_2{
    box-shadow: 1px 3px 6px #00000029;
    margin-bottom: 5%;
    /* display: inline; */
    padding: 2rem;
    
    
}

.food_block1_part1,.food_block_2_par1{
    height: 100px;
}

 .pre_text{
     font-size: large;
    font-weight: bold;
    padding-right: 10%; 
    text-align: left;
} 

